<div class="home-container">
    <div class="header">
        <h1>ברוכים הבאים לפלטפורמת הלמידה</h1>
        <p>שפר את הידע שלך עם קורסים בהנחיית מומחים.</p>
    </div>

    <!-- <button class="explore-button" mat-raised-button>
        <mat-icon>school</mat-icon>
        <span>עיין בקורסים</span>
    </button> -->

    <div class="cards-container">
        <mat-card class="info-card">
            <mat-icon class="icon">menu_book</mat-icon>
            <h3>מגוון רחב של קורסים</h3>
            <p>בחר מתוך נושאים ומקצועות שונים.</p>
        </mat-card>

        <mat-card class="info-card">
            <mat-icon class="icon">group</mat-icon>
            <h3>מדריכים מומחים</h3>
            <p>למד מהטובים ביותר בתעשייה.</p>
        </mat-card>

        <mat-card class="info-card">
            <mat-icon class="icon">schedule</mat-icon>
            <h3>למד בקצב שלך</h3>
            <p>גישה לקורסים בכל זמן ובכל מקום.</p>
        </mat-card>

        <mat-card class="info-card">
            <mat-icon class="icon">assignment_turned_in</mat-icon>
            <h3>משימות אינטראקטיביות</h3>
            <p>תרגל ובחן את הידע שלך.</p>
        </mat-card>

        <mat-card class="info-card">
            <mat-icon class="icon">chat</mat-icon>
            <h3>תמיכה קהילתית</h3>
            <p>הצטרף לדיונים ושאל שאלות.</p>
        </mat-card>

        <mat-card class="info-card">
            <mat-icon class="icon">verified</mat-icon>
            <h3>תעודה</h3>
            <p>קבל תעודה עם סיום הקורס.</p>
        </mat-card>
    </div>
</div>