<header>
    <ul>
        <li>
            <mat-icon>login</mat-icon>
            <a routerLink="login">התחברות</a>
        </li>
        <li>
            <mat-icon>person_add</mat-icon>
            <a routerLink="signup">הרשמה</a>
        </li>
        <li>
            <mat-icon>school</mat-icon>
            <a routerLink="courses">קורסים</a>
        </li>
        <li>
            <mat-icon>library_add</mat-icon>
            <a routerLink="addCourse">הוספת קורס</a>
        </li>
    </ul>
</header>
<router-outlet></router-outlet>